[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
django = "==1.11.*"
wheel = "*"
mysqlclient = {path = "./mysqlclient-1.4.4-cp37-cp37m-win_amd64.whl"}

[requires]
python_version = "3.7"
